.dc-chart g.row text {
    fill: black;
    font-size: 10px;
}

.dc-chart g.row rect {
    stroke: gray;
    font-size: 10px;
}

.filterName {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
}

.reset {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
}

.table {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}

.table > tbody > tr > td {
    line-height: 6px;
}

/*seasons pie chart*/
.dc-chart .pie-slice {
    fill: black;
    font-size: 10px;    
}

/*to allow x-axis labels to overflow past div bd*/
svg:not(:root) {
    overflow: unset;
}

#chart-index {
    transform: translate(-12px, 66px);
}
#chart-category {
    transform: translate(-102px, -4px);
}

#chart-dataset {
    transform: translate(575px,-240px);
}

#chart-seasons {
    transform: translate(490px,-250px);
}

#chart-year {
    transform: translate(5px,-255px);
}

#timeChartWinter {
    width: 790px;
    height: 378px;
}
#timeChartSpring {
    width: 790px;
    height: 378px;
}
#timeChartSummer {
    width: 790px;
    height: 378px;
}
#timeChartFall {
    width: 790px;
    height: 378px;
}
/*modify twitter bootstrap btn*/
.btn:hover, .btn:focus {
    color: #333333;
    text-decoration: none;
    background: lightgray;
    border: 1px solid gray;
}

/*Display window on map*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}