body {
    color: #333333;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}

.panel-transparent {
        background: none;
}

.dc-chart .axis text {
    font-family: sans-serif;
    font-size: 11px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

.dc-chart text {
    font-family: sans-serif;
    font-size: 12px;
}
.dc-chart g.row rect {
    stroke: gray;
    font-family: sans-serif;
    font-size: 10px;
}
/*pie chart label*/
.dc-chart .pie-slice {
    fill: black;
    font-family: sans-serif;
    font-size: 10px;    
}

/*Format checkboxes masquerading as rowChart #chart-category */
#chart-category g.axis {
    display: none    
}

#chart-category g.row rect {
    transform: translate(-16px, -2px);    
}
/*end checkbox format */

.filterName {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 700;
    font-style: italic;
    margin-top: 20px;
}

.reset {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
}

.table {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}

.table > tbody > tr > td {
    line-height: 6px;
}

/*to allow x-axis labels to overflow past div bd*/
svg:not(:root) {
    overflow: unset;
}

/* dc charts */
#scenario {
    transform: translate(594px, -652px);
}
#chart-category {
    transform: translate(385px, -186px);
}
#chart-index {
    transform: translate(0px, 0px);
}
#chart-seasons {
    transform: translate(-64px, 1px);
}
#chart-year {
    transform: translate(-42px, -138px);
}
#chart-dataset {
    transform: translate(-64px, -27px);
}
#chart-percentile {
    transform: translate(-69px, 0px);
}
#ref-period {
    transform: translate(61px, 353px);
    font-family: sans-serif;
    font-size: 12px;
}


/* pop-up window tabs */
#timeChartWinter {
    width: 790px;
    height: 378px;
}
#timeChartSpring {
    width: 790px;
    height: 378px;
}
#timeChartSummer {
    width: 790px;
    height: 378px;
}
#timeChartFall {
    width: 790px;
    height: 378px;
}
#timeChartYear {
    width: 790px;
    height: 378px;
}
/*modify twitter bootstrap btn*/
.btn:hover, .btn:focus {    
    color: #333333;
    text-decoration: none;
    background: lightgray;
    border: 1px solid gray;
}

/*Display window on map*/
h4 { font-family: sans-serif; font-weight: 400; }

.info {
    padding: 6px 8px;
    /*font: 14px/16px Arial, Helvetica, sans-serif;*/
    font-family: sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}