
.d3-tip {
     line-height: 1;
     font-weight: bold;
     padding: 12px;
     background: rgba(0, 0, 0, 0.8);
     color: #fff;
     border-radius: 2px;
}

.dc-chart {
}
.dc-chart g.row text {
    fill: black;
    font-size: 10px;
}

.filterName {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.reset {
    font-size: 10px;
    font-weight: bold;
    font-style: normal;
}

.table {
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
}

.table > tbody > tr > td {
    line-height: 6px;
}
